DATABASE_URL=postgresql://magpie:magpie@localhost:5432/magpie_dev
DATABASE_URL_TEST=postgresql://magpie:magpie@localhost:5433/magpie_test
POSTGRES_USER=magpie
POSTGRES_PASSWORD=magpie
POSTGRES_DB=magpie_dev
